<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">app/code/*/Test/Unit</directory>
            <directory suffix="Test.php">app/code/*/*/Test/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory suffix="Test.php">app/code/*/Test/Integration</directory>
            <directory suffix="Test.php">app/code/*/*/Test/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">app/code</directory>
        </include>
        <exclude>
            <directory>app/code/*/Test</directory>
            <directory>app/code/*/*/Test</directory>
        </exclude>
    </source>
</phpunit>
